*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 80vh;
    background-color: crimson;
    font-family: sans-serif;
}

.container{
    width: 30%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

input{
    width: 80%;
    padding: 10px;
    outline: none;
    border: none;
}

button{
    padding: 9px;
    outline: none;
    border: none;
    color: crimson;
    font-weight: 800;
}

.operationForm{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.selectContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 5rem;

}
 select{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: crimson;
    font-weight: 800;
}
